<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>18</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>D:\winform app\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2025-01-06T02:20:14.5720040Z||;True|2025-01-06T09:15:57.7761973+07:00||;True|2025-01-06T09:09:56.2410378+07:00||;True|2025-01-06T09:08:48.9809134+07:00||;True|2025-01-06T09:08:14.2708468+07:00||;True|2025-01-06T08:58:02.8347426+07:00||;True|2025-01-06T08:53:10.7912398+07:00||;True|2025-01-06T01:14:18.9586304+07:00||;True|2025-01-06T01:13:31.7004650+07:00||;True|2025-01-06T01:12:46.5426619+07:00||;True|2025-01-06T01:12:06.1439819+07:00||;True|2025-01-06T00:34:50.6286427+07:00||;True|2025-01-06T00:34:01.3873359+07:00||;True|2025-01-06T00:30:15.0953065+07:00||;True|2025-01-06T00:29:14.3813671+07:00||;False|2025-01-06T00:25:37.2056240+07:00||;False|2025-01-06T00:25:25.3606664+07:00||;False|2025-01-06T00:25:16.8551919+07:00||;True|2025-01-06T00:22:50.4694478+07:00||;True|2025-01-03T10:12:16.6345075+07:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 8.0.11 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>